@import "../../mixins.scss";
.navbarWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  h2 {
    cursor: pointer;
    color: black;
  }
  .navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      cursor: pointer;
      text-transform: capitalize;
    }
    .active {
      border-bottom: 2px solid #49557e;
    }
  }
  .navRight {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 25px;
      cursor: pointer;
    }
    .navBtn {
      gap: 25px;
      position: relative;
      width: 28px;
      img {
        z-index: 2;
        position: relative;
        width: 100%;
        cursor: pointer;
      }
      .cartProduct {
        position: absolute;
        top: -8px;
        right: -10px;
        z-index: -1;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: tomato;
        color: white;
        padding: 3px;
        border-radius: 999px;
        font-size: max(0.85vw, 11px);
      }
      //   &::after
    }
    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: tomato;
      color: white;
      padding: 8px 20px;
      cursor: pointer;
      font-size: 16px;
      letter-spacing: 1px;
      border-radius: 3px;

    }

    button {
      outline: none;
      padding: 8px 25px;
      border-radius: 9999px;
      cursor: pointer;
      border: 1px solid lightgray;
      background-color: transparent;
    }
  }
}
